<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated TrDSLOut -->
      <package
            uri="http://servicemodel/1.0"
            class="myPackage609e4f9c.MyPackage609e4f9cPackage"
            genModel="model/TrDSLOut.genmodel"/>
   </extension>

</plugin>
