<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.uniba.de/wiai/seda/somslmarked/SomSLMarked" 
       class = "de.uniba.wiai.seda.somslmarked.somSLMarked.SomSLMarkedPackage"
       genModel = "de/uniba/wiai/seda/somslmarked/SomSLMarked.genmodel" /> 
	
  </extension>



</plugin>
